/*
 * Syles for the New Client Page
 */

.mainFxmlClass {

}

.text {
    -fx-fill: #444444;
}

.text-field {
    -fx-background-color: #444444 ,  #e9fcae ,  #e9fcae;
    -fx-background-insets: 0 -1 -2 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #444444 ,  #e9fcae ,  #e9fcae;
    -fx-background-insets: 2 -1 -3 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-area {
    -fx-border-color: #444444;
    -fx-border-width: 1px;
    -fx-border-radius: 1;
}

.text-area:focused {
    -fx-border-color: #444444;
    -fx-border-width: 2px;
    -fx-border-radius: 2;
}

.red_button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
}
.red_button:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.red_button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.grn-button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #276828 0%, #236024 100%),
        #276828,
        #5bb25b,
        radial-gradient(center 50% 50%, radius 100%, #3b9b3f, #3b9b3f);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
}

.grn-button:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #276828 0%, #236024 100%),
        #276828,
        #5bb25b,
        radial-gradient(center 50% 50%, radius 100%, #48af4c, #3b9b3f);
}

.grn-button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.blue-button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #433d8e 0%, #433d8e 100%),
        #605ea0,
        #5d5bb2,
        radial-gradient(center 50% 50%, radius 100%, #7a6ac4, #3e3a9b);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
}

.blue-button:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #433d8e 0%, #433d8e 100%),
        #605ea0,
        #5d5bb2,
        radial-gradient(center 50% 50%, radius 100%, #8c7bd8, #3e3a9b);
}

.blue-button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.tab-header-background {
    -fx-background-color:  #e9fcae;
}

.tab-content-area {
    -fx-border-color: grey;
}
.tab {
    -fx-background-color: 
        grey,
        #e9fcae;
}

.tab:selected {
    -fx-background-color:
        grey,
        linear-gradient(to bottom, #d0ea7e,  #e9fcae);
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}